$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px) !default
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px) !default

$xs: "(min-width: 0px)"
$sm: "(min-width: 576px)"
$md: "(min-width: 768px)"
$lg: "(min-width: 992px)"
$xl: "(min-width: 1200px)"
$xxl: "(min-width: 1430px)"

@media #{$xxl}
  .container
    width: 1400px!important
    max-width: 1400px!important

.container 
  padding: 0


$cols: 7
$col: calc( 100% / #{$cols} )

=col-xs($num)
  @media #{$xs}
    // width: calc( (((100% - (#{$gutter} * (#{$cols} - 1))) / #{$cols}) * #{$num}) + ( #{$gutter} * (#{$num} - 1)) )
    width: calc( #{$col} * #{$num} )
=col-sm($num)
  @media #{$sm}
    // width: calc( (((100% - (#{$gutter} * (#{$cols} - 1))) / #{$cols}) * #{$num}) + ( #{$gutter} * (#{$num} - 1)) )
    width: calc( #{$col} * #{$num} )
=col-md($num)
  @media #{$md}
    // width: calc( (((100% - (#{$gutter} * (#{$cols} - 1))) / #{$cols}) * #{$num}) + ( #{$gutter} * (#{$num} - 1)) )
    width: calc( #{$col} * #{$num} )
=col-lg($num)
  @media #{$lg}
    // width: calc( (((100% - (#{$gutter} * (#{$cols} - 1))) / #{$cols}) * #{$num}) + ( #{$gutter} * (#{$num} - 1)) )
    width: calc( #{$col} * #{$num} )
=col-xl($num)
  @media #{$xl}
    // width: calc( (((100% - (#{$gutter} * (#{$cols} - 1))) / #{$cols}) * #{$num}) + ( #{$gutter} * (#{$num} - 1)) )
    width: calc( #{$col} * #{$num} )
=col-xxl($num)
  @media #{$xxl}
    // width: calc( (((100% - (#{$gutter} * (#{$cols} - 1))) / #{$cols}) * #{$num}) + ( #{$gutter} * (#{$num} - 1)) )
    width: calc( #{$col} * #{$num} )


=mg-xs($num)
  @media #{$xs}
    margin-left: calc( #{$col} * #{$num})
=mg-sm($num)
  @media #{$sm}
    margin-left: calc( #{$col} * #{$num})
=mg-md($num)
  @media #{$md}
    margin-left: calc( #{$col} * #{$num} )
=mg-lg($num)
  @media #{$lg}
    margin-left: calc( #{$col} * #{$num})
=mg-xl($num)
  @media #{$xl}
    margin-left: calc( #{$col} * #{$num} )
=mg-xxl($num)
  @media #{$xxl}
    margin-left: calc( #{$col} * #{$num} )