*
  box-sizing: border-box
  &:focus
    outline: none
html
  font-size: 8px
  @media #{$sm}
    font-size: 8.5px
  // @media #{$md}
  //   font-size: 9px
  @media #{$lg}
    font-size: 10px
  // @media #{$xl}
  //   font-size: 9px
  @media #{$xxl}
    font-size: 10px

body
  font-family: $main-font
  font-size: 1.4rem
  font-weight: 400
  color: $main-color
  justify-content: space-between
  line-height: 1.2
  overflow-x: hidden

a
  color: #000

b
  font-weight: 600

.preloader
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1000
  background: #fff
  display: flex
  align-items: center
  justify-content: center
  padding-bottom: 5%
  img
    max-width: 300px

.wrapper
  min-width: 320px
  max-width: 100%
  position: relative
  width: 100%
  overflow-x: hidden
  z-index: 1
