$border: 1px solid #7b7b7b

.index
.progress
  background: #fafafa
  padding: 5rem 2rem
  position: relative
  z-index: 1
  &::after
    content: ""
    width: 100%
    height: 60vh
    background: #009ed9
    position: absolute
    top: 0
    right: -45%
    z-index: -1
    transform: rotateZ(45deg)
  &::before
    content: ""
    width: 100%
    height: 60vh
    background: #009ed9
    position: absolute
    top: -5%
    left: -50%
    z-index: -1
    transform: rotateZ(-30deg)
  &__inner
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    flex-flow: column
  &__title
    max-width: 30rem
    margin-bottom: 5rem
.info
  border-left: $border
  border-bottom: $border
  &-show 
    position: fixed
    right: 4rem
    bottom: 2rem
    color: #333
    cursor: pointer
    font-size: 1.8rem
    letter-spacing: 1px
  &-head
    display: flex
    &__img  
      width: 7rem
      height: 7rem
      border-radius: 50%
      border: 2px solid #009ed9
      margin-bottom: 1rem
    &__title
      font-weight: 700
      font-size: 1.6rem
      text-align: center
  &-row
    display: flex
    // svg
    //   height: 4rem
    .stock
      path
        fill: #ff8a00
      &-more
        path
          fill: #58b15c
    .absent
      path
        fill: #c53838
  &-cell
    width: 22%
    border: $border
    border-left: none
    border-bottom: none
    display: flex
    align-items: center
    justify-content: center
    flex-flow: column
    padding: 2rem 1rem .5rem 1rem
    flex-grow: 1
    position: relative
    &:first-of-type
      padding: .5rem
      width: 12%
    &__logo
      width: 100%
    &__toy
      width: 100%
    &__status
      height: 5rem
      width: 5rem
    .in-stock
      path
        fill: #00bf00
    .in-stock-plus
      path
        fill: #bd04bd
    &__amount 
      margin-top: 1rem
      span
        font-weight: 700
    &__id 
      position: absolute
      top: .5rem  
      right: 0.5rem
      opacity: 0
    .active
      opacity: 1
    &__btns 
      display: flex
      align-items: center
      justify-content: center
      margin-top: .5rem
      width: 100%
      opacity: 0
    &__btn
      margin: 0 .5rem
      border: none
      border-radius: 2px
      padding: 0.1rem .8rem
      cursor: pointer
      display: flex
      align-items: center
      justify-content: center
      color: #3b3b3b
      line-height: 1.3
      &--increase
        background: #00bf00 
      &--decrease
        background: #e00000
  &__title
  &__cell